# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django migrations
**/migrations/

# Database files
*.sqlite3

# Django cache and logs
**/cache/
**/media/
**/staticfiles/
*.log

# Environment variables
.env

# IDEs and text editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/